
  #navbar{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    position: fixed;
  }
  #list{
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
  }